<div>
  <div class="navbar-wagon">
  <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="" class="navbar-wagon-item navbar-wagon-link">Mister Cocktails</a>
      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="home-banner">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-description">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
